<?xml version='1.0' encoding='utf-8'?>
<widget id="myheartonmydress" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MHoMD</name>
    <description>
        My Heart on My Dress demo app.
    </description>
    <author email="jingw3n.zhu@gmail.com" href="hhttp://www.jingwen-zhu.com/">
        Jingwen Zhu
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
